
h2 {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

input {
    display: block;
    padding: 3px;
    margin: 2px;
    margin-top: 4px;
    width: 170px;
}

#save {
    margin-left: 5px;
}

#login_note {
    font-size: 79%;
    width: 180px;
    margin-top: 8px;
    margin-left: 1px;
}
